fastapi==0.121.2
uvicorn[standard]==0.38.0
httpx==0.28.1
pydantic==2.12.3
pydantic-settings==2.11.0
python-dotenv==1.1.1
motor==3.7.1
pymongo==4.15.3
dnspython==2.7.0
apscheduler==3.11.1
python-dateutil==2.9.0.post0
orjson==3.11.4
